/**
 * Float Layout Activity
 **/

 * {
	box-sizing: border-box;
	text-align: center;
}

.clearfix::after {
	clear: both;
	content: "";
	display: block;
}

header {
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
	background: #ccc;
}

section {
	background: #666;
	color: #fff;
	float: left;
	padding: 20px 0;
	width: 33%;
}

#middle {
	background: #888;
	width: 34%;
}

#full {
	background: #eee;
	color: black;
	float: none;
	margin-top: 20px;
	padding: 15px;
	width: auto;
}

#division {
	background: #6ea3da;
	margin-top: 20px;
	padding: 20px;
}

aside {
	background: #fff;
	float: left;
	height: 175px;
	margin-left: 25px;
	padding-top: 25px;
	width: 30%;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #333;
	background: #ccc;
}
